$fairy-area-size: 3.5rem;
$fairy-area-border: 9999px;
$fairy-area-distance: 30px;
$fairy-icon-size: 2.4rem;

$fairy-inner-box-width: 20rem;
$fairy-inner-box-height: 31.5rem;
$fairy-inner-box-radius: 5px;
$fairy-inner-box-mobile-width: 100%;
$fairy-inner-box-mobile-height: 100%;

$breakpoints-mobile-max: 767px;
$breakpoints-mobile-min: 320px;
$breakpoints-not-mobile-min: 768px;
