$fairy-area-size: 3.5rem;
$fairy-area-border: 9999px;
$fairy-area-distance: 30px;
$fairy-icon-size: 2.4rem;

$fairy-header-to-inner-distance: 4rem;
$fairy-header-height: #{$fairy-header-to-inner-distance};

$fairy-inner-box-width: 20rem;
$fairy-inner-box-height: 35rem;
$fairy-inner-box-radius: 5px;
$fairy-inner-box-mobile-width: 100%;
$fairy-inner-box-mobile-height: 100%;
$fairy-inner-contents-box-radius: 5px;

$fairy-detail-cp-size: 96%;
$fairy-detail-cp-distance: calc((100% - #{$fairy-detail-cp-size}) / 2);
$fairy-detail-cp-close-distance: 5px;
$fairy-detail-cp-bg-color: white;
$fairy-detail-cp-padding: 5px;

$breakpoints-mobile-max: 767px;
$breakpoints-mobile-min: 320px;
$breakpoints-not-mobile-min: 768px;

$color-light-sky-blue: #87cefa;
$color-dodger-blue: #1e90ff;
