html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: -apple-sytem, BlinkMacSystemFont, 'Noto Sans', 'Noto Sans KR',
    sans-serif !important;
}

.font-logo {
  font-family: 'Merriweather', serif !important;
  font-style: italic;
  font-weight: 900;
}

.mx-auto {
  margin: 0 auto;
}

.my-auto {
  margin: auto 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
