@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Noto+Sans+KR:wght@300;400;500;700&family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700;900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: -apple-sytem, BlinkMacSystemFont, 'Poppins', 'Noto Sans',
    'Noto Sans KR', sans-serif !important;
}

.font-logo {
  font-family: 'Merriweather', serif !important;
  font-style: italic;
  font-weight: 900;
}

.mx-auto {
  margin: 0 auto;
}

.my-auto {
  margin: auto 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
